[Unit]
Description=Light Locker - session lock daemon for LightDM
PartOf=awesome-session.target
After=awesome-session.target

[Service]
Type=simple
ExecStart=/usr/bin/light-locker --lock-after-screensaver=1 --lock-on-suspend
Restart=on-failure

[Install]
WantedBy=awesome-session.target
