[Unit]
Description=Backup horário com Borg

[Service]
Type=oneshot
Nice=10
IOSchedulingClass=idle
ExecStart=/usr/local/bin/jkyon-borg-backup_hourly.sh
