[Unit]
After=niri-waybar.service
Description=Udiskie (automount for removable drives)
After=graphical-session.target
Requisite=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/udiskie --smart-tray --notify --no-automount
Restart=on-failure
RestartSec=5
Environment=UDISKIE_TRAY=1
Environment=XDG_CURRENT_DESKTOP=niri

[Install]
WantedBy=graphical-session.target
