[Unit]
Description=Recoll Indexer Daemon

[Service]
ExecStart=/usr/bin/recollindex -m -D -x -w 30
Restart=on-failure

[Install]
WantedBy=default.target
