[Unit]
Description=Lock screen with xss-lock and dm-tool
After=graphical-session.target

[Service]
Type=simple
Environment=DISPLAY=:0
Environment=XAUTHORITY=%h/.Xauthority
ExecStart=/usr/bin/xss-lock -- /usr/bin/dm-tool lock

[Install]
WantedBy=graphical-session.target
