[Unit]
Description=Teste notify-send

[Service]
Type=oneshot
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/%U/bus
ExecStart=/usr/bin/notify-send "Teste" "Olá do Systemd!"
